@import "~src/scss/variables";

.logs {
  float: right;
  line-height: 64px;

  &:after {
    display: block;
    clear: both;
  }

  button {
    background: none;
    border: none;
    outline: none;
  }

  .user-login {
    width: 120px;
    height: 18px;
    font-family: $source-sans-pro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: $white;
    padding-right: 25px;

    &:hover {
      text-decoration: none;
    }

    .ic_user {
      width: 10px;
      height: 12px;
      object-fit: contain;
      margin-right: 10px;
    }
  }

  .log-off {
    width: 80px;
    height: 18px;
    font-family: $source-sans-pro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $white;

    &:hover {
      text-decoration: none;
    }

    .ic_exit {
      width: 16px;
      height: 12px;
      object-fit: contain;
      margin-right: 10px;
    }
  }
}
