<div class="index-component" *ngIf="items; else noData">
    <app-search (searchName)="findName($event)"></app-search>
    <app-add-courses-btn (showModal)="showModal()"></app-add-courses-btn>
    <section *ngFor="let item of items | orderBy" class="item-component">
        <div>
            <app-item #appItem [data]="item" (showModal)="showEditModal()"></app-item>
        </div>
    </section>
    <div *ngIf="show">
        <app-add-course (hideModal)="hideModal()" (transferData)="transferData($event)" [titleModal]="titleModal">
        </app-add-course>
    </div>
</div>

<ng-template #noData>
    <div class="no-data">No data. Feel free to add new course</div>
</ng-template>

<app-confirmation-modal #confirmModal></app-confirmation-modal>

<!--Load more-->
<app-load-more></app-load-more>