<div class="confirmation-modal">
    <div class="delete-modal">
        <div class="header">
            <h5 class="title">Delete course?</h5>
            <img
                class="close"
                src="assets/img/close@2x.png"
                (click)="cancel()"
            />
        </div>
        <p>Do you really want to delete this course?</p>
        <div class="btns">
            <button class="denied" (click)="cancel()">Cancel</button>
            <button class="confirm" (click)="deleteCourse($event)">
                Yes, delete
            </button>
        </div>
    </div>
</div>
