<div id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Login</h5>
              <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="error" class="pl-3 pt-3">
              <span class="text-danger">Wrong email or password!</span>
            </div>
            <div class="modal-body">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="field form-group">
                      <label for="email">Email<span>*required</span></label>
                      <input type="text" name="email" class="form-control" id="email" placeholder="Enter email" formControlName="email" required />
                  </div>

                  <div class="field form-group">
                      <label for="password">Password<span>*required</span></label>
                      <input name="password" id="password" placeholder="Enter password" class="form-control" formControlName="password" required />
                  </div>

                  <div class="field">
                      <a href="#">Forgot password</a>
                  </div>
                <div class="modal-footer">
                  <button type="submit" class="btn sick-green">Login</button>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
