<form [formGroup]="form" *ngIf="form">

    <mat-form-field>
        <mat-label for="title">Title</mat-label>
        <input type="text" name="title" matInput id="title" placeholder="Text input" formControlName="title" required />

        <mat-error>
            <app-form-errors [control]="form.controls['title']"></app-form-errors>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="description">Description</mat-label>
        <textarea matInput name="description" id="description" placeholder="Add description"
            formControlName="description" required></textarea>

            <mat-error>
                <app-form-errors [control]="form.controls['description']"></app-form-errors>
            </mat-error>
    </mat-form-field>

    <app-date [control]="form.controls['creationDate']"></app-date>

    <app-duration [control]="form.controls['duration']"></app-duration>

    <mat-form-field class="authors-suggestions">
        <mat-chip-list #chipList aria-label="Authors selection">
            <mat-chip *ngFor="let author of authors" [selectable]="selectable" [removable]="removable"
                (removed)="remove(author)">
                {{ author.name }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Authors" 
            matInput 
            name="authors" 
            [formControl]="form.controls['authors']" 
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            formControlName="authors"
            [matAutocomplete]="auto" (keyup)="showSuggestions()">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let author of authorSuggestions" [value]="author">
                {{ author.name }}
            </mat-option>
        </mat-autocomplete>

        <mat-error>
            <app-form-errors [control]="form.controls['authors']"></app-form-errors>
        </mat-error>
    </mat-form-field>

    <div class="footer">
        <button type="button" mat-button class="btn pale-grey" (click)="cancel()">Cancel</button>
        <button type="submit" mat-button class="btn sick-green" [disabled]="!form.valid">Save</button>
    </div>
</form>