<form [formGroup]="form">
    <div class="field form-group">
        <label for="title">Title<span>*required</span></label>
        <input type="text" name="title" id="title" placeholder="Text input" formControlName="title" />
    </div>
    <div class="field form-group">
        <label for="description">Description<span>*required</span></label>
        <textarea name="description" id="description" placeholder="Add description"
            formControlName="description"></textarea>
    </div>
    <app-duration [control]="form.controls['duration']"></app-duration>
    <app-date formControlName="creationDate"></app-date>
    <div class="footer">
        <button type="button" class="btn pale-grey" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn sick-green" [disabled]="!form.valid">Save</button>
    </div>
</form>
