<div
    [appCourseBorder]="data.creationDate"
    [ngClass]="{ changeBackground: data.topRated == true }"
    class="item-component">
    <div *ngIf="data.topRated">
        <span class="star"></span>
    </div>
    <ul>
        <li class="title">{{ data.title | uppercase }}</li>
        <li class="creation">
            {{ data.creationDate | date: 'MMM d, y' }}
        </li>
        <li class="duration">
            {{ data.duration | duration: data.duration }}
        </li>
        <li class="description">{{ data.description }}</li>
    </ul>
    <div class="btns">
        <button
            type="button"
            class="btn btn-default edit dark-sky-blue edit"
            data-toggle="modal" data-target="#new-course"
            [routerLink]="['courses', 'edit', data.id]">
            Edit
        </button>
        <button
            type="button"
            class="btn btn-default dark-sky-blue delete"
            (click)="openModal(data.id)">
            Delete
        </button>
    </div>
</div>
