<section *ngFor="let item of data | findByName">
    <div
        [appCourseBorder]="data.creationDate"
        [ngClass]="{ changeBackground: topRated == true }"
        class="item-component">
        <div *ngIf="topRated">
            <span class="star"></span>
        </div>
        <ul>
            <li class="title">{{ item.title | uppercase }}</li>
            <li class="creation">
                {{ item.creationDate | date: 'MMM d, y' }}
            </li>
            <li class="duration">
                {{ item.duration | duration: item.duration }}
            </li>
            <li class="description">{{ item.description }}</li>
        </ul>
        <div class="btns">
            <button
                type="button"
                class="btn btn-default edit dark-sky-blue edit"
                (click)="editCourse($event)">
                Edit
            </button>
            <button
                type="button"
                class="btn btn-default dark-sky-blue delete"
                (click)="deleteCourse($event)">
                Delete
            </button>
        </div>
    </div>
</section>
