body {
  width: 100%;
  height: 100%;
  background-color: $pale-grey;
  font-family: $roboto-regular;
  font-size: $font-regular;
}

.bg {
  width: 100%;
  height: 64px;
  background-color: $charcoal-grey;
}
